body {
    background-color: #fff;
}

h1 {
    color: #9caf98;
    font-family: Helvetica;
    font-weight: bold;
    margin: .1rem;
}




/*textarea {*/
/*    min-width: 26rem;*/
/*    height: 30rem;*/
/*    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;*/
/*}*/


.hwt-backdrop {
    font-family: monospace;
}

mark {
    border-radius: 4px;
    color: unset !important;
}

mark.fleb-reserved-word {
    background-color: #fee;
    color: red !important;
}

mark.fleb-theircall {
    background-color: #cff;
    color: blue !important;
}

/* No highlight inside comment block */
mark.fleb-commentline > mark {
    background-color: transparent;
    color: black !important;
}
mark.fleb-grid > mark {
    background-color: transparent;
    color: black !important;
}




mark.fleb-time {
    background-color: #d3f3c1;
    color: green !important;
}

mark.fleb-rst {
    background-color: #c8c8ff;
    color: black !important;
}

mark.fleb-wwff {
    background-color: #f5e6cf;
    color: brown !important;
}

mark.fleb-sota {
    background-color: #cca7d9;
    color: #ad16b9 !important;
}

mark.fleb-pota {
    background-color: #a7d9c0;
    color: #16b99b !important;
}

mark.fleb-freq {
    background-color: #fee;
    color: red !important;
}

mark.fleb-commentline {
    background-color: #cbe5f1;
    color: black !important;
    display: inline flow-root list-item;
    width: 100%;
}

mark.fleb-qsocomment {
    background-color: #e7e7e7;
    color: black !important;
}

mark.fleb-qslmsg {
    background-color: #fda6a6;
    color: black !important;
}

mark.fleb-name {
    background-color: #ddbdfa;
    color: black !important;
}

mark.fleb-grid {
    background-color: #c9daf6;
    color: darkblue !important;
}

mark.fleb-date {
    background-color: #d3f3c1;;
    color: green !important;
}

mark.fleb-serial {
    background-color: #eeecec;
    color: #222 !important;
}

.settings {
    background-color: #ddd;

}



.adif-preview {
    background-color: #EAFFFF;
    color: #274257;
    font-size: 70%;
    min-width: 800px;
    font-family: Courier;
    display: inline-block;
    white-space: break-spaces;
}


